/* colors

Orange: #FF6500
Purple: #2c0237
Dark Purple: #22002b

*/

@font-face {
    font-family: 'Shlop';
    src: url("fonts/shlop/shloprg.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background: linear-gradient(180deg, #000000 0%, #22002b 60%, #2c0237 100%);
    height: 100%;
}

.navbar {
    background: #2c0237;
    height:100px;
}

.nav-link {
    font-family: 'Shlop';
    color: white;
    font-size: 30px;
    transition: 0.5s;
    padding: 0 3vw 0 3vw;
}
  
.nav-link:hover {
    color: #FF6500;
    transition: 0.5s;
}

.title {
    background: #2c0237;
    height: clamp(300px, 30vw, 600px);
    width:clamp(450px, 65vw, 1100px);
    margin: 100px 0px 20px 0px;
    border: 5px solid white;
    transition: 0.5s;
}

.title:hover {
    border: 5px solid #FF6500;
    transition: 0.5s;
}

.title-text {
    font-family: 'Shlop';
    color: white;
    text-decoration-skip-ink: none;
    text-decoration-color: white;
    transition: 0.5s;
    font-size: clamp(35px, 5vw, 80px);
}

.title:hover .title-text{
    color: #FF6500;
    text-decoration-skip-ink: none;
    text-decoration-color: #FF6500;
    transform: scale(1.1);
    transition: 0.5s;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 9px;
}

.join-btn {
    background: #FF6500;
    color: white;
    box-shadow: 0px 0px 15px 3px #2c0237;
    transition: 0.5s;
    width:clamp(120px,19vw,250px);
    height:clamp(50px, 8vw, 100px);
    font-size: clamp(16px,2vw, 25px);
    padding-top: clamp(10px,2.2vw, 30px);
}

.join-btn:hover {
    background: #22002b;
    box-shadow: 0px 0px 15px 1px white;
    transition: 0.5s;
    color: white;
}

.join-btn:active {
    box-shadow: none;
    transition: 0.5s;
}

.what-row {
    margin-top: 40vh;
    padding: 20px;
}

.what {
    height: clamp(350px,30vw,600px);
    background: url('imgs/trunk-or-treat/IMG_9170.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 5px solid white;
    color: white;
}

.question {
    background: #FF6500;
    border: white 5px solid;
    padding: 10px;
}

.answer {
    height: clamp(350px,30vw,600px);
    background: #FF6500;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 5px solid white;
    color: white;
    padding: 20px;
    overflow: none;
}

.the-answer {
    font-size: clamp(5px, 1.3rem, 150px);
}