/* colors

Orange: #FF6500
Purple: #2c0237
Dark Purple: #22002b

*/

@font-face {
    font-family: 'Shlop';
    src: url("fonts/shlop/shloprg.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background: linear-gradient(180deg, #000000 0%, #22002b 60%, #2c0237 100%);
    height: 100%;
}

.navbar {
    background: #2c0237;
    height:100px;
}

.nav-link {
    font-family: 'Shlop';
    color: white;
    font-size: 30px;
    transition: 0.5s;
    padding: 0 3vw 0 3vw;
}
  
.nav-link:hover {
    color: #FF6500;
    transition: 0.5s;
}

.title {
    background: #2c0237;
    height: clamp(300px, 30vw, 600px);
    width:clamp(450px, 65vw, 1100px);
    margin: 100px 0px 20px 0px;
    border: 5px solid white;
    transition: 0.5s;
}

.title:hover {
    border: 5px solid #FF6500;
    transition: 0.5s;
}

.title-text {
    font-family: 'Shlop';
    color: white;
    text-decoration-skip-ink: none;
    text-decoration-color: white;
    transition: 0.5s;
    font-size: clamp(35px, 5vw, 80px);
}

.title:hover .title-text{
    color: #FF6500;
    text-decoration-skip-ink: none;
    text-decoration-color: #FF6500;
    transform: scale(1.1);
    transition: 0.5s;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 9px;
}

.join-btn {
    background: #FF6500;
    color: white;
    transition: 0.5s;
    width:clamp(130px,19vw,250px);
    height:clamp(50px, 8vw, 100px);
    font-size: clamp(15px,2vw, 25px);
    padding-top: clamp(10px,2.2vw, 30px);
    text-decoration: none;
    border-radius: 10px;
    font-family: "Fira Sans", sans-serif;
}

.join-btn:hover {
    background: #22002b;
    box-shadow: 0px 0px 25px 1px white;
    transition: 0.5s;
    color: white;
}

.join-btn:active {
    box-shadow: 0px 0px 5px 1px white;
    transition: 0.5s;
    color: white;
}

.what-row {
    margin-top: 40vh;
    padding: 20px;
}

.what {
    background: url('imgs/trunk-or-treat/IMG_9170.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: clamp(400px,30vw,600px);
    border: 5px solid white;
    color: white;
    font-family: 'Shlop';
}

.question {
    background: #FF6500;
    border: white 5px solid;
    padding: 10px;
}

.answer {
    height: clamp(400px,30vw,600px);
    background: #FF6500;
    border: 5px solid white;
    color: white;
    padding: 20px;
    overflow: none;
}

.the-answer {
    font-size: clamp(5px, 1.3rem, 150px);
    font-family: "Fira Sans", sans-serif;
}

.flyer {
    width:500px;
    display: none;
    border: white solid 2px;
}

.more-info-btn {
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: 0.5s;
    background: #2c0237;
    font-family: "Fira Sans", sans-serif;
}

.more-info-btn:hover {
    background: #22002b;
    transition: 0.5s;
    box-shadow: 0px 0px 15px 3px white;
}

/* showcase css */

.showcase-title {
    color: white;
    font-family: 'Shlop';
    font-size: 80px;
    margin-top: 100px;
    background: #FF6500;
    width: 400px;
    margin: 100px auto;
    padding:20px;
    border: white 5px solid;
}

.gallery-row {
    margin: 100px 20px;
}

/* individual gallery pic */

.pic {
    border: 10px solid #FF6500;
    margin-top: 25px;
}

.pic-descrip {
    color: white;
    font-family: 'Shlop';
    font-family: "Fira Sans", sans-serif;
    display: none;
    background: #FF6500;
    border: white 5px solid;
    padding: 10px;
}

.pic1 {
    background: url('imgs/trunk-or-treat/IMG_0464.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

.pic2 {
    background: url('imgs/trunk-or-treat/IMG_0467.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.pic3 {
    background: url('imgs/trunk-or-treat/IMG_0472.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.pic4 {
    background: url('imgs/trunk-or-treat/IMG_4468.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.pic5 {
    background: url('imgs/trunk-or-treat/IMG_8439.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

.pic6 {
    background: url('imgs/trunk-or-treat/IMG_8459.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.pic7 {
    background: url('imgs/trunk-or-treat/IMG_8463.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.pic8 {
    background: url('imgs/trunk-or-treat/IMG_8451.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.pic9 {
    background: url('imgs/trunk-or-treat/IMG_9107.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

footer {
    margin-top: 50px;
    color: white;
    height: 100px;
}