body {
    background: black;
}

.navbar {
    background: purple;
    height:100px;
}

.nav-link {
    color: white;
    font-size: 30px;
}
  
.nav-link:hover {
    color: orange;
}

.title {
    background: purple;
    height: 200px;
    margin: 150px 0px 20px 0px;
}